body{
    font-family: 'Courier New', Courier, monospace;
}
p, h1, h3, .formIsian{
    padding-left: 20px;
}
h1{
    padding-top: 10px;
}
.formIsian, .inputfield{
    line-height: 1.5;
}
.nav{
    background-color: rgb(35, 122, 252);
}
.nav-link{
    color: white;
}
.nav-link:hover{
    color: rgb(226, 226, 226);
    background-color: rgb(25, 77, 156);
}
.nav-link:disabled{
    color: rgb(127, 107, 216);
}
.barcode-output{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}